.header-menu {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-column-start: 1;
    grid-column-end: 6;
}

.header-login {
    grid-column-start: 6;
    grid-column-end: 7;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
}
