<section class="header-menu">
    <button routerLink="contact">Kontakt</button>
    <button routerLink="schedule">Grafik</button>
    <button *ngIf="authService.loggedIn" routerLink="profile">Profil</button>
    <button *ngIf="authService.loggedIn" routerLink="admin">Panel Pracownika</button>
</section>
<section class="header-login">
    <app-profile></app-profile>
</section>
