<section class="admin-menu">
    <nav aria-label="OpenClient" routerLink="client">Client</nav>
    <nav aria-label="OpenWorker" routerLink="worker">Worker</nav>
    <nav aria-label="OpenExerciseSchedule" routerLink="exercise-schedule">ExerciseSchedule</nav>
    <nav aria-label="OpenWorkerSchedule" routerLink="worker-schedule">WorkerSchedule</nav>
    <nav aria-label="OpenInformation" routerLink="information">Information</nav>
</section>
<section class="admin-router">
    <router-outlet></router-outlet>
</section>
