<button routerLink="client-list">Lista użytkowników</button>
<button routerLink="client-form">Dodaj użytkownika</button>
<button routerLink="client-email">Szukaj użytkownika</button>
<router-outlet></router-outlet>
