app-root {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
}

app-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 4fr);
    grid-column-start: 1;
    grid-column-end: 4;
}

app-admin {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 15% auto;
}

app-footer {
    grid-column-start: 1;
    grid-column-end: 4;
}
